body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(rgb(37, 35, 35),rgb(38, 36, 66));
}

.watch {
    background: linear-gradient(black,grey);
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
    width: 500px;
    height: 150px;
    position: absolute;
    /*border: rgb(28, 8, 138) 6px solid;*/
}

.watch div {
    padding: 10px;
}

.watch-title {
    position: relative;
    top: -150px;
    color: white;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}